/* 共通設定 */
body,html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

textarea {
    resize: none;
}

label {
    font-size: 12px;
    color: #0000008A;
    font-weight: 400;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ヘッダー */
.header {
    max-width: 100%;
    height: 120px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #1B5678;
}

.header-logo{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
}


.header-logo:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.header-button{
    width: 152px;
    height: 53px;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #000000BF;
    background: #FFFFFF;
}


/* メインタイトル */
.main-title{
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    margin: 80px 0 76px 0;
    color: #000000BF;
}

/* フォーム */
.main-content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
}

.form-container {
    width: 480px;
    margin: 0 auto;
    margin-top: 80px;
}


.form-container{
    align-items: center;
    width: 480px;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.form-control{
    font-size: 16px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    margin-top: 8px;
    padding:0 0 2.5px 0;
}


/* 送信ボタン */
.button-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.submit-btn{
    width: 232px;
    height: 53px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background-color: #1B5678;
}

.submit-btn:hover {
    background-color: #144564;
    cursor: pointer;
}

/* フッター */
.footer{
    max-width: 100%;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1B5678;
}

/* 無効化 */
.submit-btn:link,   
.submit-btn:visited {
    text-decoration: none;  
    color: #FFFFFF;  
}

.text-danger {
    margin-top: 5px;
    color: red;  
} 