@import url('/css/common.css');

/* 自己紹介セクション全体 */
h1, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-size: 18px;
    color: #000000BF;
}

.profile-section{
    display: flex;
    align-items: center;
    gap: 80px;
    width: 960px;
    margin: 0 auto;
    margin: 80px 0 53px 0;
}


/* プロフィール写真 */
.profile-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}


/* プロフィール画像 */
.photo-placeholder{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    overflow: hidden; /* 画像が枠をはみ出さないようにする */
}

.profile-img {
    width: 100%; 
    height: 100%;
    object-fit: contain;  /* 枠内に画像収める */
}

/* デフォルト画像用 */
.default-photo {
    width: 100%;
    height: 100%;
    background-color: #C4C4C4; /* 仮の灰色背景 */
    border-radius: 50%;
}

/* プロフィールコンテンツ */
.profile-title{
    margin: 0 0 32px 0;
    font-size: 36px;
    font-weight: bold;
    color: #000000BF;
}

.profile-text{
    overflow-wrap: anywhere;
    hyphens: auto;
}

.profile-title::after {
    content: '';
    display: block;
    margin-top: 16px;
    width: 240px; 
    height: 2px; 
    background-color: rgba(0, 0, 0, 0.5); /* 黒で50%透明 */
}

.user-name {
    margin: 10px 0 21px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.profile-content{
    width: 520px;
    /*margin-top: 60px;*/
    text-align: left;
    min-width: 0; /* ← flex子要素が内容幅で広がるのを抑止 */
}


.submit-profile-btn{
    width: 242px;
    height: 53px;
    font-size: 18px;
    border: none;
    text-decoration: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-radius: 4px;
    color: #FFFFFF;
    background: #1B5678;
}

.submit-profile-btn:hover {
    background-color: #144564;
    cursor: pointer;
}


/* 学習チャート */

.learningChart{
    margin-top: 46px; 
}

.study-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 81.5px;
}

.study-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #000000BF;
}

.study-title::after {
    content: '';
    display: block;
    width: 400px; 
    height: 2px; 
    background-color: rgba(0, 0, 0, 0.5); /* 黒で50%透明 */
    margin: 16px auto 40px;
}

.submit-edit-btn{
    width: 152px;
    height: 53px;
    font-size: 18px;
    border: none;
    text-decoration: none;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #FFFFFF;
    background: #1B5678;
}

.submit-edit-btn:hover {
    background-color: #144564;
    cursor: pointer;
}