<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ポートフォリオです">
        <title>TOPページ</title>
        <link rel="stylesheet" href="/css/common.css">
        <!--<link rel="stylesheet" href="common.css">-->
        <link rel="stylesheet" href="/css/top.css">
        <!--<link rel="stylesheet" href="top.css">-->
    </head>

    <body>
        <div class="wrapper">

            <header class="header">
            <div class="header-logo">My Portfolio</div>
                <form action="/logout" method="post" style="display:inline;">
                    <button type="submit" class="header-button">ログアウト</button>
                </form>
</header>


            <div class="main-content">
                <form action="/register" method="post" th:object="${userForm}">
    
                    <h1 class="main-title">TOP PAGE</h1>
                    
                </form>
            </div>
            <footer>
                <div class="footer">portfolio site</div>
            </footer>
        </div>
    </body>
</html>